<h1>Welcome to my Quiz Material</h1>
<h2>By Megan Faley</h2>

<%= simple_form_for @question do |f| %>
	<%= f.input :section %>
	<%= f.input :description %>
	<%= f.input :answer %>
	<br />
	<%= f.button :submit %>
<% end %>

<% @questions.each do |question| %>
  <div>
    <h3><%= question.section %></h3><br />
    <i><%= question.description %></i><br />
    <p><%= question.answer %></p><br />
  </div>

<% end %>